html,
body,
/* #root {
  height: 100%;
  width: 100%;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  background-color: rgb(82, 113, 255);
  color: rgb(211, 227, 240);
  border: none;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 15px;
}
